body {
  background: #75a9ff;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 200px #4286f4;
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
  color: white;
  overflow: hidden;
}

/*GUIDE*/

.guide {
	position: fixed;
	background-color: #2878fc;
	box-shadow: inset 0 0 200px #4286f4;
	border-radius: 50%;
	height: 25vw;
	width: 25vw;
	text-align: center;
	top: 25vh;
	margin-left: 4vw;
	z-index: 900;
}

.words {
	margin-top: 45%;
	font-size: 1.5vw;
}

/*CATS*/

.cat1 {
/*	background-color: red;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	overflow: scroll;
	text-align: center;
}

.cat2 {
/*	background-color: blue;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	overflow: scroll;
	text-align: center;
}

.cat3 {
/*	background-color: yellow;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	top: 0;
	overflow: scroll;
}

.emoji {
	position: fixed;
	width: 30vw;
	height: 30vw;
	top: 23vh;
	margin-left: -14vw;
}

.hide {
	display: none;
}

/*GO*/

#go {
	position: fixed;
	font-size: 15vw;
	top: 30vh;
	margin-left: 3%;
}

.show {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.picture {
	position: fixed;
	z-index: 10;
	width: 100vw;
	min-height: 100vh;
	top: 0vh;
	filter: blur(5px);
}

.frontpic {
	position: relative;
	left: 30vw;
	z-index: 100;
	height: 100vh;
	top: 0vh;
}

#name {
	position: relative;
	font-size: 7vw;
	top: 30vh;
	/*left: 40vw;*/
	text-align: center;
	z-index: 900;
	color: white;
	-webkit-text-stroke: .5px black;
}

#info {
	width: 50%;
	height: 15%;
	background-color: black;
}

.again {
	width: 5vw;
	position: fixed; 
	right: 0vw;
	top: 0vh;
	margin: 1vw;
	z-index: 100;
}

/*@media only screen and (min-width: 769px) and (max-width: 1281px) { 
/* smartphones, iPhone, portrait 480x320 phones */ 
/*
.cat1 {
	width: 100vw;
	height: 33vh;
}

.cat2 {
	width: 100vw;
	height: 33vh;
}

.cat3 {
	width: 100vw;
	height: 33vh;
}

}*/








