body {
  background: #bc42f4;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 200px black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
	width: 30vw;
	height: 30vw;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

/*CATS*/

.cat1 {
/*	background-color: red;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	overflow: scroll;
	text-align: center;
}

.cat2 {
/*	background-color: blue;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	overflow: scroll;
	text-align: center;
}

.cat3 {
/*	background-color: yellow;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	top: 0;
	overflow: scroll;
	text-align: center;
	vertical-align: center;
}

.hide {
	display: none;
}

/*GO*/

#go {
	
}











