body {
  background: #bc42f4;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 200px black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cat1 {
/*	background-color: red;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
}

.cat2 {
/*	background-color: blue;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
}

.cat3 {
/*	background-color: yellow;*/
	width: 33.3vw;
	height: 100vh;
	float: left;
	top: 0;
}

