body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
}

.portfolioPiece {
	width: 100vw;
	height: 100vh;
	z-index: 10;
/*	background-color: red;*/
}

.name {
	position: fixed;
	bottom: -1.5vh;
	color: white;
   /*	opacity: 0;*/
	font-family: helvetica;
	font-size: 5vh;
	margin-left: 7vw;
	z-index: 1000;
}

.picture {
	position: fixed;
	text-align: center;
	height: 100vh;
	top: 0;
	z-index: 1;
}

.video {
	position: fixed;
	text-align: center;
	vertical-align: center;
	width: 90vw;
	top: 2vh;
	left: 5vw;
	z-index: 1;
}

.demo {
	position: relative;
	z-index: 1000;
	margin-top: 70vh;
	text-align: center; 
	width: 280px; 
	float: right;
	color: white;
}

.sesame {
	background-color: #00a770;
	color: #fee303;
}




